:root {
  --main-color: #e5e4e2;
  --white-color: #f3f3f3;
  --background-color: #734ae8;
  --pane-padding: 10px 42px;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
}

body::before {
  font-family: Georgia, serif;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(0deg, #734ae8 0%, #89d4cf 74%);

  background-size: cover;
  background-position: center;
}
body {
  font-family: Georgia, serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;

  margin: 0;
}
@media (min-width: 500px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 700px) {
  .container {
    max-width: 720px;
  }
}

h1,
p {
  margin-bottom: 0.75rem;
  margin-top: 0;
}

.container {
  width: 100%;
  margin: 3rem auto 0 auto;
  border: 1px solid linear-gradient(300deg, #734ae8 0%, #89d4cf 74%);
  border-radius: 2.5rem;
}

#survey-form {
  background: var(--color-darkblue-alpha);
  box-shadow: 0 0 100px var(--color-darkblue-alpha);
  color: #90d7cd;
}
.center {
  text-align: center;
}

h1,
p,
label,
textarea,
button {
  font-size: inherit;
  padding: inherit;
  line-height: inherit;
}
input {
  height: 1.25rem;
  margin: 0.5rem 0.5 1rem 0.25rem;
}
#description {
  font-style: italic;
  font-weight: 150;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0.35rem 0.715rem;

  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.radio,
.checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

label {
  display: block;
}
.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  border-radius: 10px;
  margin-right: 1rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #37af65;
  color: inherit;
  border-radius: 10px;
  cursor: pointer;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
