html {
  background-color: #e1e3e6;
}

img {
  display: block;
  max-width: 100%;
  width: 70%;
  height: auto;
  margin: 0 auto;
}
body {
  font-size: 2rem;
  line-height: 2;
  text-align: center;
  color: #333;
  margin: 0;
  color: #333;
}

h1 {
  font-size: 5rem;
  margin: 0;
}
#img-div {
  background-color: white;
  height: auto;
  width: auto;
  padding: 20px;

  margin: 0 auto;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#info {
  position: absolute;
  top: 17%;
  left: 10%;
  margin: 0 auto;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
}

#tribute-info {
  line-height: 1.5;
  align-items: center;
}

a:visited {
  color: green;
}
#info {
  display: flex;
  margin: 0 auto;
}
